@model IEnumerable<Models.Store>

@{
    ViewData["Title"] = "Stores";
    Layout = "_LayoutStore";

}
<h5> @ViewBag.Name</h5>

@if (ViewBag.Success != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Success");
        };
    </script>
}

<p>
    <b>Most popular near you</b>
</p>

<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>
               Store Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zipcode)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { name = item.Number }) 
                </td>
            </tr>
        }
    </tbody>
</table>
